@import "../css/normalize.css";
html {
  font-family: "Poppins", sans-serif;
  background-color: #030d0d;
  font-size: 18px;
  color: #fcfbf5;
}

a {
  text-decoration: none;
  color: #fcfbf5;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 4rem;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2.5rem;
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 2rem;
  }
}

.accent {
  font-family: "Playwrite PL", cursive;
}

.section-heading {
  padding-top: 2rem;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}
.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 1rem;
  right: 1rem;
  z-index: 10;
  background-color: transparent;
  transition: 400ms;
}
@media screen and (max-width: 1024px) {
  .header__container {
    padding: 0.5rem 1rem;
  }
}
.header__logo {
  font-size: 1.5rem;
  color: #030d0d;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    font-size: 1rem;
  }
}
.header__logo__text:hover {
  text-decoration: none;
}
.header__nav {
  display: flex;
  gap: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}
.header__link {
  font-size: 1rem;
}

.scrolled {
  background-color: #A38A6B;
  max-width: 1200px;
  box-shadow: 0px 6px 22px -2px rgba(0, 0, 0, 0.44);
  border-radius: 60px;
  margin: 1rem auto;
}
.scrolled--text {
  color: #030d0d;
}

.hero {
  height: 60vh;
  background-image: url("../assets/guitar-hero.jpg"), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
}
@media screen and (max-width: 1024px) {
  .hero {
    height: 75vh;
  }
}
.hero__description {
  font-size: 1.5rem;
  margin-top: 0;
}

.footer {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #A38A6B;
  margin: 0 auto;
  color: #030d0d;
}
.footer__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.footer__logo {
  font-size: 2rem;
}
@media screen and (max-width: 1024px) {
  .footer__logo {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .footer__logo {
    text-align: center;
    align-self: center;
  }
}
.footer__logo__text {
  color: #030d0d;
}
.footer__logo__text:hover {
  text-decoration: none;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .footer__nav {
    flex-direction: column;
  }
}
.footer__nav__link {
  font-size: 1rem;
  color: #030d0d;
}
.footer__nav__nav-links {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (max-width: 1024px) {
  .footer__nav__nav-links {
    text-align: center;
    align-self: center;
  }
}
.footer__copyright {
  margin: 2rem 0;
  font-size: 16px;
}
@media screen and (max-width: 1024px) {
  .footer__copyright {
    text-align: center;
  }
}

.explore {
  text-align: center;
  padding: 1rem;
  margin-bottom: 10rem;
}
.explore__tiles {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
@media screen and (max-width: 1024px) {
  .explore__tiles {
    grid-template-columns: 1fr;
  }
}

.tile {
  position: relative;
  height: 30vh;
  border-radius: 20px;
  overflow: hidden;
  transition: 400ms ease-in-out;
  cursor: pointer;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.5);
}
.tile:hover .tile__image {
  transition: 400ms ease-in-out;
  transform: scale(1.05);
  filter: grayscale(0%);
}
.tile__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: grayscale(90%);
  background-repeat: no-repeat;
  background-size: cover;
  transition: 400ms ease-in-out;
  z-index: 0;
}
@media screen and (max-width: 1024px) {
  .tile__image {
    filter: grayscale(0%);
  }
}
.tile__heading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 1;
}
.tile__heading__content {
  font-size: 2.5rem;
  color: #fcfbf5;
  background-color: rgba(0, 0, 0, 0.354);
  padding: 0.1rem 0.5rem;
  border-radius: 50px;
  box-shadow: 0 0 20px 15px rgba(0, 0, 0, 0.354);
}
@media screen and (max-width: 1024px) {
  .tile__heading__content {
    font-size: 1.5rem;
  }
}

.chords {
  background-image: url("../assets/chords.jpg");
}

.songs {
  background-image: url("../assets/songs.jpg");
}

.tips {
  background-image: url("../assets/tips.jpg");
}

.contact {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.contact__container {
  background-color: #574343;
  border-radius: 20px;
  margin: 1rem;
}
.contact__form {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}
@media screen and (max-width: 1024px) {
  .contact__form {
    padding: 1rem;
  }
}
.contact__form__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 1024px) {
  .contact__form__main {
    grid-template-columns: 1fr;
  }
}
.contact__form__section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .contact__form__section {
    flex-direction: column;
    margin: 0 0.5rem;
  }
}
.contact__form__section--full {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  width: 100%;
  justify-self: center;
}
@media screen and (max-width: 1024px) {
  .contact__form__section--full {
    grid-column: span 1;
  }
}
.contact__form__label {
  text-wrap: nowrap;
  padding-right: 1rem;
  text-align: left;
}
@media screen and (max-width: 1024px) {
  .contact__form__label {
    padding-right: 0;
    padding-bottom: 0.5rem;
  }
}
.contact__form__input {
  width: 100%;
  border-radius: 50px;
  padding: 0.7rem;
  border: none;
}
.contact__form__input--full {
  width: 100%;
  border-radius: 20px;
  padding: 0.7rem;
  border: none;
}
.contact__form__btn {
  width: fit-content;
  margin: 0 auto;
  padding: 0.8rem 1rem;
  border-radius: 50px;
  border: none;
}

/*# sourceMappingURL=style.css.map */
