@use "./mixins" as m;
@use "./variables" as v;

p,
li {
	line-height: 1.8rem;
	letter-spacing: 0.03em;
}

section {
	margin-bottom: 5rem;
}

.page-header {
	height: 8rem;

	&__content {
		padding-top: 5rem;
		padding-left: 1rem;
		padding-right: 1rem;
		text-align: center;
		color: v.$accent-text;
	}
}
