@use "./mixins" as m;
@use "./variables" as v;
@use "./breakpoints" as b;

.tips-info {
	max-width: v.$max-text-width;
	@include m.flex-center;
	margin: 0 auto;
}

.tip {
	margin-bottom: 1.5rem;
	border-radius: 30px;
	overflow: hidden;
	width: 100%;
	border: 1px solid v.$secondary-bg;

	&__title {
		font-size: 1.5rem;
		margin: 0;
		padding: 1rem;
		cursor: pointer;
		background-color: v.$secondary-bg;
	}

	&__content {
		font-size: 1rem;
		padding: 1rem;
		display: none;
	}
}
