$primary-font: "Poppins", sans-serif;
$accent-font: "Playwrite PL", cursive;
$primary-bg: #030d0d;
$secondary-bg: #7a887e;
$primary-text: #fcfbf5;
$secondary-text: #030d0d;
$accent-text: #e9b686;
$max-div-width: 1200px;
$max-text-width: 900px;
